<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Download file - FileUpload</title>

		<%- include('../partials/globalImport') %>)

	</head>
	<body>
		<div id="downloadSquare">
			<h1>FileUpload</h1>
			<h2><%- title %> </h3>
			<h3><%- desc %></h3>
			<p>File: "<%- filename %>"</p>
			<p>Size: <%- fileSize %></p>
			<a href="<%- downloadLink%>">Download</a>
			<p>
				Disclaimer: Romland.Space and/or FileUpload have not checked the
				file and cannot stand for it's content. Do not open a file you don't
				trust
			</p>
		</div>
	</body>
</html>
